body {
    background: linear-gradient(135deg, #0f1d63, #3b0064);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    background: #fff;
    padding: 30px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
    color: #0f1d63;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    background: #eceef1;
    border-radius: 50px;
    overflow: hidden;
}

#taskInput {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    background: transparent;
}

#addBtn {
    background: #ff6347;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    transition: 0.3s;
}

#addBtn:hover {
    background: #ff5235;
}

ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    margin: 10px 0;
    padding: 12px 15px;
    background: #f4f4f4;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

button.checkBtn, button.delBtn {
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 5px;
}

.checkBtn {
    background: #4caf50;
    color: white;
}

.delBtn {
    background: #e74c3c;
    color: white;
}
